--
-- PostgreSQL database dump
--

\restrict 3WrLiRmkJm4OTPoztaWFMdZuApmoSrCWrEUaeZ9d2cjociBUK2rgnH4lEXIZj8R

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: Center; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Product; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Product" (id, name, description, "isActive") FROM stdin;
25d60aaf-4900-4b65-aefa-65b602fc5c83	JUNIOR	Imported from CRM Monbay: JUNIOR	t
ccf3989b-9859-47dc-8a57-5d4676904554	IELTS	Imported from CRM Monbay: IELTS	t
fa2307fe-791a-48c0-b0e4-f06657c56bb6	SAT	Imported from CRM Monbay: SAT	t
74c20e3d-00cc-4d3d-b606-73b8f36b0ee6	General English	Imported from CRM Monbay: General English	t
\.


--
-- Data for Name: Program; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Program" (id, "productId", name, code, description) FROM stdin;
c4e15f59-c380-4923-93fe-3b943f81dd3a	74c20e3d-00cc-4d3d-b606-73b8f36b0ee6	General English	GENERAL-ENGLISH	\N
62571cfb-3f27-421c-99ad-858df12e8400	ccf3989b-9859-47dc-8a57-5d4676904554	IELTS	IELTS	\N
2c568b60-811a-4829-af61-d719fab52512	25d60aaf-4900-4b65-aefa-65b602fc5c83	JUNIOR	JUNIOR	\N
9d2adaa0-a553-4952-948b-bfe9ce462d81	fa2307fe-791a-48c0-b0e4-f06657c56bb6	SAT	SAT	\N
\.


--
-- Data for Name: Role; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Class; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Student; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: AcademicResult; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."AcademicResult" (id, "studentId", "classId", type, score, date, comments, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: LeadSource; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Parent; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Lead; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Appointment; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Appointment" (id, "leadId", "centerId", "startTime", "endTime", status, notes, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Attendance; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Attendance" (id, "classId", "studentId", date, status, notes, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Contract; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Payment; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Payment" (id, "contractId", "centerId", amount, method, type, status, "paidAt", notes) FROM stdin;
\.


--
-- Data for Name: AuditLog; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: BrandingConfig; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."BrandingConfig" (id, "appName", "shortName", "logoLightUrl", "logoDarkUrl", "faviconUrl", "primaryColor", "secondaryColor", "accentColor", "headingFont", "bodyFont", "borderRadius", "updatedAt", "createdAt") FROM stdin;
default	English Center CRM	EC CRM	/public/branding/logo-1777865698688-670336801.png	\N	\N	#dc2626	#0000ff	#ec4899	Inter	Roboto	12px	2026-05-04 03:34:58.699	2026-04-25 01:23:59.221
\.


--
-- Data for Name: ClassSchedule; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."ClassSchedule" (id, "classId", "centerId", "dayOfWeek", "startTime", "endTime", room) FROM stdin;
\.


--
-- Data for Name: ClassStudent; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Plan; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: ContractDetail; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."ContractDetail" (id, "contractId", "planId", quantity, "unitPrice", discount, "totalPrice") FROM stdin;
\.


--
-- Data for Name: Family; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Family" (id, name, code, description, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: CustomerIssue; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."CustomerIssue" (id, type, category, status, priority, title, description, resolution, "nextAction", "dueDate", "resolvedAt", "centerId", "leadId", "studentId", "parentId", "familyId", "ownerId", "createdById", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Enrollment; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Enrollment" (id, "studentId", "programId", "classId", status, "startDate", "endDate", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Opportunity; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: InteractionLog; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."InteractionLog" (id, "leadId", "opportunityId", "actorId", type, content, "timestamp") FROM stdin;
\.


--
-- Data for Name: Level; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Level" (id, "programId", name, "order") FROM stdin;
\.


--
-- Data for Name: ModuleRegistry; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: ModuleSetting; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."ModuleSetting" (id, "moduleId", "centerId", "isEnabled", config, "updatedAt") FROM stdin;
\.


--
-- Data for Name: ParentStudentRelation; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: PaymentSchedule; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."PaymentSchedule" (id, "contractId", "dueDate", amount, "paidAmount", "remainingAmount", status) FROM stdin;
\.


--
-- Data for Name: Permission; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: ProgressNote; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."ProgressNote" (id, "studentId", "classId", "teacherId", content, date, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Renewal; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Renewal" (id, "oldContractId", "newContractId", status, notes, "createdAt") FROM stdin;
\.


--
-- Data for Name: RolePermission; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: SalesHandover; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."SalesHandover" (id, "opportunityId", "leadId", "studentId", "contractId", "classId", "centerId", "ownerId", status, "profileConfirmed", "profileNotes", "paymentGuideSent", "paymentReceiptConfirmed", "paymentNotes", "scheduleRequested", "scheduleConfirmed", "schedulePreference", "scheduleNotes", "academicHandoverSent", "academicNotes", "welcomeSent", "groupsAdded", "zaloGroupCreated", "parentConfirmed", "welcomeNotes", "completedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: StudentCareEvent; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."StudentCareEvent" (id, "studentId", "classId", "createdById", type, "riskLevel", title, content, "actionPlan", "dueDate", status, "occurredAt", "resolvedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: StudentExamEvent; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."StudentExamEvent" (id, "studentId", "classId", "contractId", "createdById", type, status, "scheduledAt", "completedAt", score, "targetScore", outcome, notes, "actionPlan", "createdAt", "updatedAt", "arrivalConfirmed", "documentsChecked", "examFeeConfirmed", "registrationNotes", "registrationStatus", "reminderTMinus1Sent", "reminderTMinus3Sent", "reminderTMinus7Sent") FROM stdin;
\.


--
-- Data for Name: SystemConfig; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Task; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Task" (id, title, description, "dueDate", status, priority, "leadId", "opportunityId", "assigneeId", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: TestEvent; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."TestEvent" (id, "leadId", "centerId", "scheduledAt", result, notes, status) FROM stdin;
\.


--
-- Data for Name: TrialEvent; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."TrialEvent" (id, "leadId", "centerId", "scheduledAt", feedback, status) FROM stdin;
\.


--
-- Data for Name: UserCenter; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: WarrantyCase; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."WarrantyCase" (id, "studentId", "contractId", "examEventId", "createdById", status, reason, plan, "dueDate", "resolvedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- PostgreSQL database dump complete
--

\unrestrict 3WrLiRmkJm4OTPoztaWFMdZuApmoSrCWrEUaeZ9d2cjociBUK2rgnH4lEXIZj8R

